<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{name}}</h4>
  <button (click)="modal.close('close')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="configForm">
    <app-price-type-picker
        [configForm]="configForm"
        key="priceType">
    </app-price-type-picker>
    <app-indicator-input
        [form]="configForm"
        key="period"
        label="Period"
        placeholder="2">
    </app-indicator-input>
    <div class="separator-breadcrumb border-top"></div>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'firstMaColor')"
        [color]="drawConfigForm.get('firstMaColor').value"
        [label]="'1st MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'secondMaColor')"
        [color]="drawConfigForm.get('secondMaColor').value"
        [label]="'2nd MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'thirdMaColor')"
        [color]="drawConfigForm.get('thirdMaColor').value"
        [label]="'3nd MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'fourthMaColor')"
        [color]="drawConfigForm.get('fourthMaColor').value"
        [label]="'4th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'fifthMaColor')"
        [color]="drawConfigForm.get('fifthMaColor').value"
        [label]="'5th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'sixthMaColor')"
        [color]="drawConfigForm.get('sixthMaColor').value"
        [label]="'6th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'seventhMaColor')"
        [color]="drawConfigForm.get('seventhMaColor').value"
        [label]="'7th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'eighthMaColor')"
        [color]="drawConfigForm.get('eighthMaColor').value"
        [label]="'8th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'ninthMaColor')"
        [color]="drawConfigForm.get('ninthMaColor').value"
        [label]="'9th MA'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'tenthMaColor')"
        [color]="drawConfigForm.get('tenthMaColor').value"
        [label]="'10th MA'">
    </app-color-picker>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.close('close')"
          class="btn btn-outline-warning btn-rounded"
          type="button">
    Close
  </button>
  <button (click)="modal.close('remove')"
          *ngIf="update"
          class="btn btn-outline-danger btn-rounded"
          type="button">
    Remove
  </button>
  <button (click)="onSubmit()"
          [disabled]="!configForm.valid || !drawConfigForm.valid"
          class="btn btn-outline-success btn-rounded"
          type="button">
    {{update ? 'Update' : 'Add'}}
  </button>
</div>
