<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{name}}</h4>
  <button (click)="modal.close('close')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="configForm">
    <app-price-type-picker
        [configForm]="configForm"
        key="priceType">
    </app-price-type-picker>
    <app-moving-average-short-picker
        [configForm]="configForm"
        key="movingAverageType">
    </app-moving-average-short-picker>
    <app-indicator-input
        [form]="configForm"
        key="movingAveragePeriod"
        label="Moving Average Period"
        placeholder="20">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="averageTrueRangePeriod"
        label="Average True Range Period"
        placeholder="10">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="averageTrueRangeShift"
        label="Average True Range Shift"
        placeholder="2">
    </app-indicator-input>
    <div class="separator-breadcrumb border-top"></div>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'topBandColor')"
        [color]="drawConfigForm.get('topBandColor').value"
        [label]="'KELT top'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'bottomBandColor')"
        [color]="drawConfigForm.get('bottomBandColor').value"
        [label]="'KELT bottom'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'middleBandColor')"
        [color]="drawConfigForm.get('middleBandColor').value"
        [label]="'KELT middle'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'channelColor')"
        [color]="drawConfigForm.get('channelColor').value"
        [label]="'KELT channel'">
    </app-color-picker>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.close('close')"
          class="btn btn-outline-warning btn-rounded"
          type="button">
    Close
  </button>
  <button (click)="modal.close('remove')"
          *ngIf="update"
          class="btn btn-outline-danger btn-rounded"
          type="button">
    Remove
  </button>
  <button (click)="onSubmit()"
          [disabled]="!configForm.valid || !drawConfigForm.valid"
          class="btn btn-outline-success btn-rounded"
          type="button">
    {{update ? 'Update' : 'Add'}}
  </button>
</div>
