<div class="row" style="text-align: center">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label>{{label}}</label>
  </div>
  <div class="text-center input-group-append col-6 form-group mb-3 custom-slider marker-size-picker" style="display: inline-block">
    <app-slider
        [value]="value"
        [max]="max"
        [min]="min"
        [step]="step"
        [tickInterval]="tickInterval"
        (onValueChange)="valueChange($event)">
    </app-slider>
  </div>
</div>
