<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label for="priceType">Price type</label>
  </div>
  <div class="col-6 form-group mb-3">
    <select [class.form-control-danger]="!configForm.controls[key].valid && configForm.controls[key].touched"
            [formControl]="configForm.get(key)" class="form-control col-form-label-sm custom-select"
            id='priceType'>
      <option value="HIGH">High</option>
      <option value="LOW">Low</option>
      <option value="OPEN">Open</option>
      <option value="CLOSE">Close</option>
    </select>
  </div>
</div>
