<spinner *ngIf="!data"></spinner>
<div [hidden]="!data">
  <div class="breadcrumb">
    <h1>Markets</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">

    <div class="col-md-3 form-group mb-4">
      <div class="input-group">
        <div class="search-bar">
          <input type="text" [(ngModel)]="filterParams.query" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-secondary search-button" (click)="onFilter()" type="button">
            <i class="icon-regular i-Magnifi-Glass1"></i>
          </button>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 form-group mb-4">
      <div class="input-group">
        <select class="form-control form-control-rounded stock-list" [(ngModel)]="filterParams.stock">
          <option disabled selected>Stock</option>
          <option *ngFor="let stock of stocks" value="{{stock.id}}"> {{stock.name}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-secondary search-button" (click)="onFilter()" type="button">
            <i class="icon-regular i-Magnifi-Glass1"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <app-grid (actionClick)="onActionClick($event)"
                (pageableParamsChange)="onPageChange($event)"
                (sortChange)="onSortChange($event)"
                [data]="data"
                [sort]="pageableParams.sort">
        <app-grid-column [image]='true' key="logoUrl" title="Logo"></app-grid-column>
        <app-grid-column key="stock" title="Stock" [sorted]='true'></app-grid-column>
        <app-grid-column key="marketName" title="Market" [sorted]='true'></app-grid-column>
        <app-grid-column key="marketCurrencyLong" title="Currency" [sorted]='true'></app-grid-column>
        <app-grid-column key="minTradeSize" title="Min Trade Size" [sorted]='true'></app-grid-column>
        <app-grid-column key="baseVolume" title="Day Volume (Base)" [sorted]='true'></app-grid-column>
        <app-grid-column [arrow]='true' dataType="number" key="priceDiff" title="%Change" [sorted]='true'></app-grid-column>
        <app-grid-column dataType="number" key="last" title="Last Price" [sorted]='true'></app-grid-column>
        <app-grid-column dataType="number" key="high" title="24H High" [sorted]='true'></app-grid-column>
        <app-grid-column dataType="number" key="low" title="24H Low" [sorted]='true'></app-grid-column>
        <app-grid-column dataType="date" key="created" title="Added" [sorted]='true'></app-grid-column>
        <app-grid-action key="viewMarket" title="View"></app-grid-action>
      </app-grid>
    </div>
  </div>

</div>
