<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label for="movingAverageType">{{label}}</label>
  </div>
  <div class="text-center input-group-append col-6 form-group mb-3 custom-slider">
    <select (ngModelChange)="onChange($event)"
            [ngModel]="configForm.get(key).value"
            [title]="label"
            bootstrapSelect
            class="selectpicker form-control col-form-label-sm custom-select"
            data-style="btn-sm"
            id='movingAverageType'>
      <option selected value="POSITIVE_VOLUME_INDEX">Positive volume index</option>
      <option selected value="NEGATIVE_VOLUME_INDEX">Negative volume index</option>
    </select>
  </div>
</div>
