<div class="row drawing-tools-holder">
  <div class="col-lg-auto col-md-3 col-sm-3">
    <div class="input-group">
      <div class="input-group-append">
        <button [(colorPicker)]="color"
                [cpOutputFormat]="'hex'"
                [style.background]="color"
                (colorPickerChange)="onDrawConfigChange()"
                class="btn color-button"
                title="Choose drawing fill color">
        </button>
      </div>
      <div class="input-group-append">
        <button [(colorPicker)]="strokeColor"
                [cpOutputFormat]="'hex'"
                [style.background]="strokeColor"
                (colorPickerChange)="onDrawConfigChange()"
                class="btn color-button"
                title="Choose drawing stroke color">
        </button>
      </div>
      <div class="btn-group input-group-append">
        <select bootstrapSelect
            (change)="onDrawConfigChange()"
            [(ngModel)]="thickness"
            class="drawing-tools line-size selectpicker choose-drawing-tools"
            data-max-options="1"
            data-style="btn-sm"
            data-width="60"
            title="Stroke settings">
          <option data-settings="width" value="0">0 px</option>
          <option data-settings="width" selected value="1">1 px</option>
          <option data-settings="width" value="2">2 px</option>
          <option data-settings="width" value="3">3 px</option>
          <option data-settings="width" value="4">4 px</option>
          <option data-settings="width" value="5">5 px</option>
        </select>
        <select bootstrapSelect
            (change)="onDrawConfigChange()"
            [(ngModel)]="dash"
            class="drawing-tools line-type selectpicker choose-drawing-tools"
            data-max-options="1"
            data-style="btn-sm"
            data-width="80"
            title="Stroke settings">
          <option data-settings="type" value="">solid</option>
          <option data-settings="type" selected value="1 1">dotted</option>
          <option data-settings="type" value="10 5">dashed</option>
        </select>
      </div>
      <div class="input-group-append">
        <div class="btn-group hidden-xs">
          <button #drawTypeButton (click)="onDrawTypeButtonClick('line')" aria-label="Center Align" class="btn btn-default left-side-rounded" data-annotation-type="line" data-toggle="tooltip"
                  title="Line Segment" type="button">
            <i aria-hidden="true" class="ac ac-line"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('horizontal-line')" aria-label="Center Align" class="btn btn-default" data-annotation-type="horizontal-line"
                  data-toggle="tooltip" title="Horizontal Line" type="button">
            <i aria-hidden="true" class="ac ac-horizontal-line"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('vertical-line')" aria-label="Center Align" class="btn btn-default" data-annotation-type="vertical-line"
                  data-toggle="tooltip" title="Vertical Line" type="button">
            <i aria-hidden="true" class="ac ac-vertical-line"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('infinite-line')" aria-label="Center Align" class="btn btn-default" data-annotation-type="infinite-line"
                  data-toggle="tooltip" title="Infinite Line" type="button">
            <i aria-hidden="true" class="ac ac-infinite-line"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('ray')"
                  aria-label="Center Align" class="btn btn-default right-side-rounded" data-annotation-type="ray"
                  data-toggle="tooltip" title="Ray" type="button">
            <i aria-hidden="true" class="ac ac-ray"></i>
          </button>
        </div>

        <div class="btn-group hidden-xs">
          <button #drawTypeButton (click)="onDrawTypeButtonClick('triangle')" aria-label="Center Align"
                  class="btn btn-default left-side-rounded" data-annotation-type="triangle"
                  data-toggle="tooltip" title="Triangle" type="button">
            <i aria-hidden="true" class="ac ac-triangle"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('rectangle')" aria-label="Center Align" class="btn btn-default" data-annotation-type="rectangle"
                  data-toggle="tooltip" title="Rectangle" type="button">
            <i aria-hidden="true" class="ac ac-rectangle"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('ellipse')" aria-label="Center Align" class="btn btn-default right-side-rounded" data-annotation-type="ellipse"
                  data-toggle="tooltip" title="Ellipse" type="button">
            <i aria-hidden="true" class="ac ac-ellipse"></i>
          </button>
        </div>

        <div class="btn-group hidden-xs">
          <button #drawTypeButton (click)="onDrawTypeButtonClick('trend-channel')" aria-label="Center Align"
                  class="btn btn-default left-side-rounded" data-annotation-type="trend-channel"
                  data-toggle="tooltip" title="Trend Channel" type="button">
            <i aria-hidden="true" class="ac ac-trend-channel"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('andrews-pitchfork')" aria-label="Center Align"
                  class="btn btn-default right-side-rounded" data-annotation-type="andrews-pitchfork"
                  data-toggle="tooltip" title="Andrew's Pitchfork" type="button">
            <i aria-hidden="true" class="ac ac-andrews-pitchfork"></i>
          </button>
        </div>

        <div class="btn-group hidden-xs">
          <button #drawTypeButton (click)="onDrawTypeButtonClick('fibonacci-fan')" aria-label="Center Align"
                  class="btn btn-default left-side-rounded" data-annotation-type="fibonacci-fan"
                  data-toggle="tooltip" title="Fibonacci Fan" type="button">
            <i aria-hidden="true" class="ac ac-fibonacci-fan"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('fibonacci-arc')" aria-label="Center Align"
                  class="btn btn-default" data-annotation-type="fibonacci-arc"
                  data-toggle="tooltip" title="Fibonacci Arc" type="button">
            <i aria-hidden="true" class="ac ac-fibonacci-arc"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('fibonacci-retracement')" aria-label="Center Align" class="btn btn-default"
                  data-annotation-type="fibonacci-retracement"
                  data-toggle="tooltip" title="Fibonacci Retracement" type="button">
            <i aria-hidden="true" class="ac ac-fibonacci-retracement"></i>
          </button>
          <button #drawTypeButton (click)="onDrawTypeButtonClick('fibonacci-timezones')" aria-label="Center Align"
                  class="btn btn-default right-side-rounded" data-annotation-type="fibonacci-timezones"
                  data-toggle="tooltip" title="Fibonacci Time Zones" type="button">
            <i aria-hidden="true" class="ac ac-fibonacci-timezones"></i>
          </button>

        </div>
      </div>

      <div class="btn-group input-group-append">
        <div class="drawing-tools select-marker">
          <app-marker-picker
              [marker]="marker"
              (onMarkerChange)="markerChange($event)">
          </app-marker-picker>
        </div>
      </div>

      <div class="input-group-append">
        <button (colorPickerChange)="emitMarkerConfigChange()"
                [(colorPicker)]="markerColor"
                [cpOutputFormat]="'hex'"
                [style.background]="markerColor"
                class="btn color-button"
                title="Choose marker color">
        </button>
      </div>

      <div class="input-group-append">
        <div class="btn-group hidden-xs">
          <div ngbDropdown>
            <button aria-label="Center Align" class="btn btn-default rounded-button" data-toggle="tooltip"
                    ngbDropdownToggle type="button">Marker size
            </button>
            <div class="p-2 text-center" ngbDropdownMenu>
              <app-slider
                  [value]="markerSize"
                  (onValueChange)="markerSizeChange($event)">
              </app-slider>
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-append">
        <div class="btn-group hidden-xs">
          <button (click)="removeSelected()" aria-label="Center Align" class="btn btn-default left-side-rounded"
                  data-toggle="tooltip" title="Delete selected drawing" type="button">
            <i aria-hidden="true" class="ac ac-remove-thin"></i>
          </button>
          <button (click)="clear()" aria-label="Center Align" class="btn btn-default right-side-rounded"
                  data-toggle="tooltip" title="Delete all drawings" type="button">Remove All
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
