<div class="input-group">
  <input [(ngModel)]="dateTimeRange"
         [owlDateTimeTrigger]="dateRange"
         [owlDateTime]="dateRange"
         [selectMode]="'range'"
         [style.width]="'280px'"
         class="form-control form-control-rounded"
         id="picker"
         placeholder="Date Time Range:">
  <owl-date-time #dateRange pickerMode="dialog"></owl-date-time>
  <div class="input-group-append">
    <button (click)="onDataRangeChange()" class="btn btn-secondary right-side-rounded"
            type="button">
      <i class="icon-regular i-Repeat-3"></i>
    </button>
  </div>
</div>

