<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label for="pivotPointsType">{{label}}</label>
  </div>
  <div class="text-center input-group-append col-6 form-group mb-3 custom-slider">
    <select (ngModelChange)="onChange($event)"
            [ngModel]="configForm.get(key).value"
            [title]="label"
            bootstrapSelect
            class="selectpicker form-control col-form-label-sm custom-select"
            data-style="btn-sm"
            id='pivotPointsType'>
      <option selected value="CAMARILLA_PIVOT_POINTS">Camarilla pivot points</option>
      <option selected value="DE_MARK_PIVOT_POINTS">De Mark pivot points</option>
      <option selected value="FIBONACCI_PIVOT_POINTS">Fibonacci pivot points</option>
      <option selected value="FLOOR_PIVOT_POINTS">Floor pivot points</option>
      <option selected value="WOODIE_PIVOT_POINTS">Woodie pivot points</option>
    </select>
  </div>
</div>
