<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label for="pivotPointsType">{{label}}</label>
  </div>
  <div class="col-6 form-group mb-3">
    <select [class.form-control-danger]="!configForm.controls[key].valid && configForm.controls[key].touched"
            [formControl]="configForm.get(key)"
            class="form-control col-form-label-sm custom-select"
            id='pivotPointsType'>
      <option value="CAMARILLA_PIVOT_POINTS">Camarilla pivot points</option>
      <option value="DE_MARK_PIVOT_POINTS">De Mark pivot points</option>
      <option value="FIBONACCI_PIVOT_POINTS">Fibonacci pivot points</option>
      <option value="FLOOR_PIVOT_POINTS">Floor pivot points</option>
      <option value="WOODIE_PIVOT_POINTS">Woodie pivot points</option>
    </select>
  </div>
</div>
