<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label [for]=key>Shift type</label>
  </div>
  <div class="text-center input-group-append col-6 form-group mb-3 custom-slider"
       style="display: inline-block">
    <select (ngModelChange)="onChange($event)"
            [id]=key
            [ngModel]="form.get(key).value"
            [title]="'Shift type'"
            bootstrapSelect
            class="form-control col-form-label-sm custom-select selectpicker"
            data-style="btn-sm">
      <option data-settings="type" selected value="LEFT">Left</option>
      <option data-settings="type" selected value="RIGHT">Right</option>
    </select>
  </div>
</div>
