<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{name}}</h4>
  <button (click)="modal.close('close')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="configForm">
    <app-indicator-input
        [form]="configForm"
        key="jawPeriod"
        label="Jaw Period"
        placeholder="13">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="jawOffset"
        label="Jaw Offset"
        placeholder="8">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="teethPeriod"
        label="Teeth Period"
        placeholder="8">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="teethOffset"
        label="Teeth Offset"
        placeholder="5">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="lipsPeriod"
        label="Lips Period"
        placeholder="5">
    </app-indicator-input>
    <app-indicator-input
        [form]="configForm"
        key="lipsOffset"
        label="Lips Offset"
        placeholder="3">
    </app-indicator-input>
    <div class="separator-breadcrumb border-top"></div>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'jawLineColor')"
        [color]="drawConfigForm.get('jawLineColor').value"
        [label]="'Jaw'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'teethLineColor')"
        [color]="drawConfigForm.get('teethLineColor').value"
        [label]="'Teeth'">
    </app-color-picker>
    <app-color-picker
        (onColorChange)="onColorPickerChange($event, 'lipsLineColor')"
        [color]="drawConfigForm.get('lipsLineColor').value"
        [label]="'Lips'">
    </app-color-picker>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.close('close')"
          class="btn btn-outline-warning btn-rounded"
          type="button">
    Close
  </button>
  <button (click)="modal.close('remove')"
          *ngIf="update"
          class="btn btn-outline-danger btn-rounded"
          type="button">
    Remove
  </button>
  <button (click)="onSubmit()"
          [disabled]="!configForm.valid || !drawConfigForm.valid"
          class="btn btn-outline-success btn-rounded"
          type="button">
    {{update ? 'Update' : 'Add'}}
  </button>
</div>
