<spinner *ngIf="!data"></spinner>
<div [hidden]="!data">
  <div class="breadcrumb">
    <h1>{{title}}</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">

    <div class="col-md-3 form-group mb-4">
      <div class="input-group">
        <div class="search-bar">
          <input [(ngModel)]="filterParams.query" placeholder="Search" type="text">
          <div class="input-group-append">
            <button (click)="onFilter()" class="btn btn-secondary search-button" type="button">
              <i class="icon-regular i-Magnifi-Glass1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 form-group mb-4">
      <div class="input-group">
        <select [(ngModel)]="filterParams.stock" class="form-control form-control-rounded stock-list">
          <option disabled selected>Stock</option>
          <option *ngFor="let stock of stocks" value="{{stock.id}}"> {{stock.name}}</option>
        </select>
        <div class="input-group-append">
          <button (click)="onFilter()" class="btn btn-secondary search-button" type="button">
            <i class="icon-regular i-Magnifi-Glass1"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <app-grid (actionClick)="onActionClick($event)"
                (pageableParamsChange)="onPageChange($event)"
                (sortChange)="onSortChange($event)"
                [data]="data"
                [sort]="pageableParams.sort">
        <app-grid-column [image]='true' key="logoUrl" title="Logo"></app-grid-column>
        <app-grid-column [sorted]='true' key="stock" title="Stock"></app-grid-column>
        <app-grid-column [sorted]='true' key="marketName" title="Market"></app-grid-column>
        <app-grid-column [sorted]='true' key="marketCurrencyLong" title="Currency"></app-grid-column>
        <app-grid-column [sorted]='true' key="minTradeSize" title="Min Trade Size"></app-grid-column>
        <app-grid-column [sorted]='true' key="baseVolume" title="Day Volume (Base)"></app-grid-column>
        <app-grid-column [arrow]='true' [sorted]='true' dataType="number" key="priceDiff" title="%Change"></app-grid-column>
        <app-grid-column [sorted]='true' dataType="number" key="last" title="Last Price"></app-grid-column>
        <app-grid-column [sorted]='true' dataType="number" key="high" title="24H High"></app-grid-column>
        <app-grid-column [sorted]='true' dataType="number" key="low" title="24H Low"></app-grid-column>
        <app-grid-column [sorted]='true' dataType="date" key="created" title="Added"></app-grid-column>
        <app-grid-action key="selectMarket" [title]="selectTitle"></app-grid-action>
      </app-grid>
    </div>
  </div>

</div>
