<div class="row">
  <div class="breadcrumb col-lg-1 col-md-2 col-sm-3">
    <button (click)="selectStrategy()" class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">
      Select strategy
    </button>
  </div>

  <div class="breadcrumb col-lg-1 col-md-2 col-sm-3">
    <button (click)="selectMarket()" class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">
      Select market
    </button>
  </div>
</div>

<div>
  <div class="breadcrumb">
    <h1>{{strategy.name}}</h1>
  </div>
</div>

<app-stock-market-header *ngIf="market" [market]="market"></app-stock-market-header>

<div [hidden]="!market" class="separator-breadcrumb border-top"></div>


<div *ngIf="market" [ngSwitch]="strategy.type">
  <app-bill-williams-strategy *ngSwitchCase="'BILL_WILLIAMS_STRATEGY'" [market]="market" [strategy]="strategy"></app-bill-williams-strategy>
  <app-cci-rsi-atr *ngSwitchCase="'CCI_RSI_ATR'" [market]="market" [strategy]="strategy"></app-cci-rsi-atr>
  <app-double-parabolic-strategy *ngSwitchCase="'DOUBLE_PARABOLIC'" [market]="market" [strategy]="strategy"></app-double-parabolic-strategy>
  <app-ha-macd-psar *ngSwitchCase="'HA_MACD_PSAR'" [market]="market" [strategy]="strategy"></app-ha-macd-psar>
  <app-lrsi-ma-psar *ngSwitchCase="'LRSI_MA_PSAR'" [market]="market" [strategy]="strategy"></app-lrsi-ma-psar>
  <app-macd-cci *ngSwitchCase="'MACD_CCI'" [market]="market" [strategy]="strategy"></app-macd-cci>
  <app-pivot-rsi-macd-ma *ngSwitchCase="'PIVOT_RSI_MACD_MA'" [market]="market" [strategy]="strategy"></app-pivot-rsi-macd-ma>
  <app-rsi-eis-ma *ngSwitchCase="'RSI_EIS_MA'" [market]="market" [strategy]="strategy"></app-rsi-eis-ma>
  <app-stc-ma-macd *ngSwitchCase="'STC_MA_MACD'" [market]="market" [strategy]="strategy"></app-stc-ma-macd>
  <app-stoch-ac-ma *ngSwitchCase="'STOCH_AC_MA'" [market]="market" [strategy]="strategy"></app-stoch-ac-ma>
  <app-stoch-adx-ma *ngSwitchCase="'STOCH_ADX_MA'" [market]="market" [strategy]="strategy"></app-stoch-adx-ma>
  <app-stoch-cci *ngSwitchCase="'STOCH_CCI'" [market]="market" [strategy]="strategy"></app-stoch-cci>
  <app-stoch-ha *ngSwitchCase="'STOCH_HA'" [market]="market" [strategy]="strategy"></app-stoch-ha>

  <!--  TODO remove -->
  <div *ngSwitchDefault>
    Market: {{marketId}}
    <br/>
    Strategy: {{strategy.type}}
  </div>

</div>


