<div class="row">
  <div class="col-6 col-form-label col-form-label-sm text-left form-group mb-3">
    <label for="positions">{{label}}</label>
  </div>
  <div class="text-center input-group-append col-6 form-group mb-3 custom-slider position-select" style="display: inline-block">
    <select (ngModelChange)="positionsSelected($event)"
            [ngModel]="positions"
            [title]="label"
            bootstrapSelect
            class="selectpicker"
            data-max-options="4"
            data-style="btn-sm"
            data-width="110"
            id="positions"
            multiple>
      <option *ngIf="!onlyExits && !onlyShortPositions" data-settings="type" value="ENTRY_LONG">Entry Long</option>
      <option *ngIf="!onlyExits && !onlyLongPositions" data-settings="type" value="ENTRY_SHORT">Entry Short</option>
      <option *ngIf="!onlyEntries && !onlyShortPositions" data-settings="type" value="EXIT_LONG">Exit Long</option>
      <option *ngIf="!onlyEntries && !onlyLongPositions" data-settings="type" value="EXIT_SHORT">Exit Short</option>
    </select>
  </div>
</div>
