@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.xl > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
  width: 95% !important;
}

.left-side-rounded {
  border-top-left-radius: 3.25rem;
  border-bottom-left-radius: 3.25rem;
}

.rounded {
  border-radius: 3.25rem;
}

.right-side-rounded {
  border-top-right-radius: 3.25rem;
  border-bottom-right-radius: 3.25rem;
}

.field-required:after {
  content: ' *';
  color: red;
}

.field-required-before:before {
  content: '* ';
  color: red;
}

.field-required-after:after {
  content: ' *';
  color: red;
}

.has-danger, .form-control-danger {
  color: #f86c6b;
  border-color: #f86c6b;
}

.color-button {
  border-radius: 3.25rem !important;
  width: 3rem;
}

.rounded-button {
  border-radius: 3.25rem !important;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  position: relative;
  width: 230px;

  input {
    background: transparent;
    border: 0;
    color: #212121;
    font-size: .8rem;
    line-height: 2;
    height: 100%;
    outline: initial !important;
    padding: .5rem 1rem;
    width: calc(100% - 32px);
  }
}

.search-button {
  border-radius: 0;
}

.cancel-filter-button {
  border-top-right-radius: 3.25rem;
  border-bottom-right-radius: 3.25rem;
}
