<spinner *ngIf="inProgress"></spinner>

<app-strategy-config-header
    (onClearDrawing)="clearDrawing()"
    (onConfigClick)="configClick()"
    (onDateTimeRangeChange)="dateTimeRangeChange($event)"
    (onMarkerDraw)="drawMarker($event)"
    (onMonitorClick)="monitorClick()"
    (onSaveClick)="save($event)"
    (onSelectedRemove)="removeSelected()"
    (onSignalsClick)="signalsClick()"
    (onStartDrawing)="startDrawing($event)"
    (onTimeFrameChange)="timeFrameChange($event)"
    *ngIf="!inProgress"
    [dateTimeRange]="dateTimeRange"
    [timeFrame]="timeFrame">
</app-strategy-config-header>

<div [hidden]="inProgress" class="row">
  <div #chartContainer class="chart-container row card-body"></div>
</div>
